[mysqld]

# MySQL Group Replication requirements

disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE

server_id=${SERVER_ID}

# MySQL Group Replication settings

plugin_load_add='group_replication.so'
group_replication_group_name="01e570c4-35c8-475a-bce0-d40dfcaa91c1"

# bootstrap should only be done by a single server and only once,
# have to start by `START GROUP_REPLICATION` when the instance is running
group_replication_bootstrap_group=off

# For the first time, you have to configure the server before manually
# starting the plugin, once the member is configured you can set this value
# to "on" so that Group Replication starts automatically upon server boot
group_replication_start_on_boot=on

group_replication_local_address="${HOST}:33061"
group_replication_group_seeds="${GROUP_SEEDS}"

# Security?

skip-name-resolve
default-authentication-plugin=mysql_native_password
bind-address=0.0.0.0
