[mysqld]

# MySQL Group Replication requirements

disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE

server_id=${SERVER_ID}

# MySQL Group Replication settings

plugin_load_add='group_replication.so'
group_replication_group_name=${GROUP_NAME}

# bootstrap should only be done by a single server and only once,
# have to start by `START GROUP_REPLICATION` when the instance is running
group_replication_bootstrap_group=off

# For the first time, you have to configure the server before manually
# starting the plugin, once the member is configured you can set this value
# to "on" so that Group Replication starts automatically upon server boot
group_replication_start_on_boot=off

group_replication_local_address="${HOST}:33061"
group_replication_group_seeds="${GROUP_SEEDS}"

# multi primary
group_replication_single_primary_mode=OFF
group_replication_enforce_update_everywhere_checks=ON
# performance vs consistency: https://dev.mysql.com/doc/refman/8.0/en/group-replication-options.html#sysvar_group_replication_consistency
group_replication_consistency=BEFORE_AND_AFTER

# Security?

skip-name-resolve
default-authentication-plugin=mysql_native_password
bind-address=0.0.0.0
