[mysqld]

# MySQL Group Replication requirements

disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE

default-authentication-plugin=mysql_native_password
bind-address=0.0.0.0
